[General]
Show_Title=false
Show_Labels=true
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
str_fontsize=x-small
val_fontsize=0
Font=Sans 11
Lines_Size=2
Cover_All_Panel_Rows=false
Update_Interval=30
Exec_Command=true
Show_Units=false
Small_Spacings=true
Command_Name=xfce4-sensors
Number_Chips=5
Suppress_Hddtemp_Message=false
Suppress_Tooltip=false
Preferred_Width=836
Preferred_Height=587

[Chip0]
Name=acpitz-0
Number=0

[Chip1]
Name=dell_smm-0
Number=1

[Chip1_Feature2]
Id=2
Address=2
Name=CPU
Color=#00B000
Show=true
Min=0.00
Max=80.00

[Chip1_Feature3]
Id=3
Address=3
Name=Ambient
Color=#00B000
Show=true
Min=0.00
Max=80.00

[Chip1_Feature4]
Id=4
Address=4
Name=Ambient
Color=#00B000
Show=true
Min=0.00
Max=80.00

[Chip1_Feature5]
Id=5
Address=5
Name=Other
Color=#00B000
Show=true
Min=0.00
Max=80.00

[Chip2]
Name=coretemp-0
Number=2

[Chip3]
Name=pch_skylake-0
Number=3

[Chip4]
Name=ACPI
Number=4

